<div class="container__small-card">

    <div class="container__small-card-content">

        <div class="small-card__image">
            <img
            src="https://cdn.ome.lt/n2nqrMYIEO6iz18q29YC-6QQLfY=/987x0/smart/uploads/conteudo/fotos/lista_google.png"
            alt=""
            height=""
            >
        </div>

        <div class="small-card__title" >
            <h1><a href="">Series mais assistidas do ano</a></h1>
        </div>
    </div>

    <div class="container__small-card__separator">
    <hr/>
    </div>

</div>


